body {
    background: #282929;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
}
.calc-container {
    background: #f0f8ff;
    width: 320px;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 8px 20px rgba(0,0,0,0.2);
    margin: 50px auto;
    font-family: Arial, sans-serif;
}


.calc-container h2 {
    color: #2cc2dd;
    text-align: center;
    margin-bottom: 20px;
}

.credits {
    background: #f0f8ff;
    width: 320px;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 8px 20px rgba(0,0,0,0.2);
    margin: 50px auto;
    font-family: Arial, sans-serif;
}
#display {
    width: 100%;
    height: 50px;
    font-size: 24px;
    text-align: right;
    padding: none;
    border-radius: 10px;
    border: 1px solid #ccc;
    background-color: #ffffff;
    color: #000000;
    margin-bottom: 20px;
    box-shadow: inset 0 2px 5px rgba(0,0,0,0.2);
}


.calc-container input[type="button"] {
    width: 65px;
    height: 65px;
    margin: 5px;
    font-size: 18px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    box-shadow: 0 4px #b0b0b0;
    transition: all 0.1s;
}


.calc-container input[type="button"]:active {
    transform: translateY(2px);
    box-shadow: 0 2px #b0b0b0;
}


.calc-container input[type="button"]:not([value="+"]):not([value="-"]):not([value="x"]):not([value="/"]):not([value="="]):not([value="CLEAR"]):not([value="DEL"]) {
    background: #cce7ff;
    color: #000000;
}


.calc-container input[type="button"][value="+"],
.calc-container input[type="button"][value="-"],
.calc-container input[type="button"][value="x"],
.calc-container input[type="button"][value="/"],
.calc-container input[type="button"][value="="] {
    background: #ffcc33; 
    color: #000000;
}


.calc-container input[type="button"][value="CLEAR"],
.calc-container input[type="button"][value="DEL"] {
    background: #ff6666;
    color: #ffffff; 
    width: 130px;
}


.calc-container input[type="button"]:hover {
    filter: brightness(1.1);
}